.cart,
.item,
.itemList {
  border: 1px solid;
  width: 100%;
  min-height: 300px;
  margin: 30px auto;
}

.container {
  max-width: 1424px;
}

.product {
  width: 100%;
  border: 1px solid blue;
}

.product img {
  width: 30%;
  object-fit: cover;
}
button {
  max-width: 100px;
  max-height: 50px;
  min-height: 30px;
  background-color: white;
}

button:hover {
  background-color: rgb(87, 207, 157);
}

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: block !important;
  }
}

input {
  border: 1px solid #929292 !important;
  width: 50px !important;
  height: 35px !important;
  border-radius: 10px !important;
  padding: 3px !important;
  text-align: center !important;
}

@media only screen and (max-width: 715px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}
