/*  ==========================================
======== FOOTER STYLES ========
==========================================*/
footer {
  background: #ededed;
  padding: 5% 5%;
}

footer li {
  font-weight: 300;
  font-family: "Open-Sans", sans-serif;
  font-size: 15px;
}
footer h3 {
  font-size: 1.2em;
}

footer h3,
footer button,
.footer-column {
  margin-bottom: 5%;
}

footer button {
  display: block;
  width: 150px;
  height: 35px;
  background: #00a0b6;
  color: white;
  border: none;
  font-size: 1.1em;
}

.social-media {
  text-align: center;
  margin: 7% 0;
}

.lab {
  font-size: 30px;
  color: black;
  margin-left: 7%;
}

.footnotes p {
  font-size: 12px;
  font-weight: 300;
  padding-left: 5%;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer-column {
    width: 33%;
    margin-bottom: 0px;

    padding-left: 5%;
  }
  .footnotes {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .footnotes p {
    text-align: left;
  }

  .social-media {
    display: flex;
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  footer {
    padding: 2%;
  }
  .footer-content {
    max-width: 1224px;
    margin: 0 auto;
  }

  .social-media {
    margin: 2% 0;
    width: 43%;
  }
}
